.App {
  text-align: center;
}

@media screen and (min-width: 600px){
  .landHeight{
    height: 600px !important;
    background-image: url("./images/land.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  }

}


.radioInactive{
  width: 10px;
  height: 10px;
  background-color:  #b6bac2;
  border-radius: 50%;
}
.radio{
  width: 20px;
  height: 20px;
  border: 2px solid #FF7424;
  border-radius: 50%;
  position: relative;
}
.radioInner{
  width: 5px;
  height: 5px;
  border: 5px solid #FF7424;
  border-radius: 50%;
  left:15%;
  top:20%;
  position: absolute;
}
